body{
    margin:0px;
    font-size: xx-large
}
header{
    display:flex;
    justify-content: space-between;
    background-image: linear-gradient(180deg, rgb(0, 0, 0), rgb(255, 255, 255));
    width: 100%;
}
nav a:hover{
    background-color: grey
}
.banner{
    float:left;
    color: white;

}